.login-reminder{
    margin: 20px;
}
th{
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    text-align: left;
    text-indent: 0.75em;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}
th:hover {
    cursor: pointer;
}
th.both {
    background-image: url("../../Components/Assets/arrow-both.png");
}
th.up {
    background-image: url("../../Components/Assets/arrow-up.png");
}
th.down {
    background-image: url("../../Components/Assets/arrow-down.png");
}
th.both, th.up, th.down {
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 10px 60%;
}
td {
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.table{
    margin: 10px auto 10px;
    border-spacing: 15px 10px;
}
#url{
    cursor: auto;
    text-indent: 0;
}
#title{
    max-width: 200px;
}

@media(max-width:1300px) {
    th {
        font-size: 16px;
    }
    tr {
        font-size: 14px;
    }
}