.listingdisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.listingdisplay * {
    margin: 0;
}
.listingdisplay-left {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 5px;
}
#listing-date, #listing-id {
    font-style: italic;
}
#listing-id {
    font-size: 10px;
    margin-bottom: 15px;
}
.highlight {
    background-color: yellow;
}
.listingdisplay-right {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 80%;
    align-items: center;
    background: #e1e1e1;
    padding: 30px;
    gap: 10px;
}
.listingdisplay-right h4 {
    margin-top: 10px;
}
.external-link,
.traverse-btn button {
    height: 30px;
    align-self: stretch;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: #43adc7;
    cursor: pointer;
}
.dropdown-bundle h5 {
    margin-bottom: 5px;
}
.external-link:active {
    background: #327f92;
}
.listingdisplay-right-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 25px;
    width: 100%;
}
.dropdown-bundle {
    flex-grow: 1;
    flex-basis: 110px;
}
.listingdisplay-right-row button {
    text-align: left;
    text-indent: 5px;
}
button.dropdown-btn {
    color: #000;
    background-color: #fff;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #808080;
    height: 30px;
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 0px;
    cursor: pointer;
}
button.dropdown-btn:active {
    color: #222222;
    background-color: #c5c5c5;
}
.options-menu {
    position: absolute;
    width: 125px;
    margin: 0;
    padding: 10px;
    background: #fff;
    border-style: solid;
    border-color: #757575;
    border-width: 0.5px;
    font-size: 12px;
    font-weight: 500;
}
.options-menu ul {
    padding: 5px;
    cursor: pointer;
    width: 150px;
    transition: all 0.2s;
}
.options-menu ul:hover {
    background: #a7a7a7;
}
.dropdown-bundle textarea {
    width: 98.5%;
    height: 50px;
}
.traverse-btn {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
.traverse-btn * {
    width: 100%;
}