.listingdisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listingdisplay-left {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    padding: 30px;
}

.listingdisplay-left h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.listingdisplay-left p {
    margin: 0px;
}

#listing-id {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 15px;
}

.highlight {
    background-color: yellow;
}

.listingdisplay-right {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 80%;
    align-items: center;
    background: #e1e1e1;
    padding: 30px;
}

.listingdisplay-right h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

.listingdisplay-right p {
    margin: 5px 0;
}

.external-link,
.traverse-btn button {
    height: 30px;
    width: 390px;
    max-width: 100%;
    margin: 5px 0px 20px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: #43adc7;
    cursor: pointer;
}

.external-link:active {
    background: #327f92;
}

.listingdisplay-right-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 10px;
    width: 100%;
}

.dropdown-bundle {
    width: 100%;
}

.listingdisplay-right-row button {
    text-align: left;
    text-indent: 5px;
}

.notes-bundle {
    width: 100%;
}

.notes-bundle textarea {
    width: 98.5%;
    height: 50px;
}

.traverse-btn button {
    width: 190px;
    margin: 10px 5px 10px;
}

@media(max-width:800px) {
    .listingdisplay {
        flex-direction: column;
    }

    .listingdisplay-left {
        margin: 0px auto 0px;
    }

    .listingdisplay-right {
        margin: 0px auto 0px;
    }
}