.listingdisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.listingdisplay * {
    margin: 0;
}
.listingdisplay-left {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 5px;
}
#listing-date, #listing-id {
    font-style: italic;
}
#listing-id {
    font-size: 10px;
    margin-bottom: 15px;
}
.highlight {
    background-color: yellow;
}
.listingdisplay-right {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 80%;
    align-items: center;
    background: #e1e1e1;
    padding: 30px;
    gap: 10px;
}
.listingdisplay-right h4 {
    margin-top: 10px;
}
.external-link,
.traverse-btn button {
    height: 30px;
    align-self: stretch;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: #43adc7;
    cursor: pointer;
}
.external-link:active {
    background: #327f92;
}
.listingdisplay-right-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 25px;
    width: 100%;
}
.listingdisplay-right-row button {
    text-align: left;
    text-indent: 5px;
}
.traverse-btn {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
.traverse-btn * {
    width: 100%;
}