.login {
    background: #6acce5;
    padding: 30px 0px 30px;
}

.login-container {
    background: white;
    margin: 20px auto;
    padding: 40px 60px;
    gap: 20px;
    max-width: 400px;
}

.login-container h1 {
    width: 100%;
    margin: 0px;
}

.login-fields {
    width: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.login-fields input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.login-container button {
    width: 100%;
    height: 72px;
    color: white;
    background: #43adc7;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}