.welcome-container {
    background: white;
    margin: auto;
    padding: 40px 60px;
    gap: 20px;
    max-width: 400px;
}
.welcome-container h1 {
    margin: 0;
    text-align: center;
}
.welcome-container button {
    width: 100%;
    height: 72px;
    color: white;
    background: #43adc7;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}